.card{
    background-color: var(--white-color);
    width: fit-content;
    padding: 10px;
    border-radius: 15px;;
}

.wrap-content{
    margin: 10px 20px;
}

.card .card__thumbnail{
    width: 289px;
    height: 283px;
    object-fit: cover;
    border-radius: 10px;
}

.card .card__content-time{
    justify-content: space-between;
}

.card .card__content{

}
.card .card__name{

}
.card .card__time{

}